.disclosure {
	background-color: #f0f0f0;
	&__container {
		padding-left: 5.6rem;
		padding-right: 5.6rem;
		&-head {
			padding-top: 2.4rem;
			padding-bottom: 2.4rem;
			display: flex;
			justify-content: space-between;

			&-title {
				font-size: 2.8rem;
				color: #5e5e5e;
			}
		}

		&-head::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #5e5e5e;
			left: 0;
			top: 2445px;
		}

		&-head::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #5e5e5e;
			left: 0;
			top: 2525px;
		}

		&-footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10rem;
			padding: 5.6rem;

			label {
				width: 20%;
				position: relative;
			}

			input {
				width: 100%;
				height: 4rem;
				border-radius: 8px;
				padding-left: 4.2rem;
			}

			input::placeholder {
				font-size: 1.8rem;
				color: black;
			}

			img {
				position: absolute;
				left: 8px;
				top: 5px;
				color: #5e5e5e;
			}

			ul {
				display: flex;
				font-size: 1.8rem;
				gap: 1.6rem;
			}

			li:first-child {
				color: black;
			}

			li {
				color: #5e5e5e;
			}

			li:hover {
				color: #5e5e5eb5;
			}
		}

		&-footer::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #5e5e5e;
			left: 0;
			top: 150px;
		}
	}

	&__containersub {
		position: relative;
	}
}
