.header {
	position: absolute;
	width: 100%;
	transition: all 1s ease;
	z-index: 10;
	&__container {
		// background-color: black;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr auto 1fr;
		padding-left: 5.6rem;
		padding-right: 5.6rem;

		&-navs {
			font-size: 2rem;
			display: flex;
			gap: 3.2rem;
			justify-content: start;
			align-items: center;

			&-wrap {
				// position: relative;
				// transition: all 0.5s ease-in;

				&-link {
					position: relative;
					color: #fff;
				}

				&-link::after {
					content: "";
					display: block;
					position: absolute;
					background-color: rgb(38, 13, 165);
					width: 100%;
					height: 1px;
					left: 1px;
					top: 35px;
					opacity: 0;
				}

				&-link:hover {
					color: rgb(38, 13, 165);
				}

				&-link:hover::after {
					opacity: 1;
				}

				&-link.active {
					color: rgba(0, 115, 255, 0.836);
				}

				&-link:active::after {
					height: 3px;
					background-color: rgba(0, 115, 255, 0.836);
				}

				&-sublinks {
					visibility: hidden;
					position: absolute;
					max-width: 100%;
					top: 55px;
				}

				&-sublinks.show {
					visibility: visible;
				}
			}
		}

		&-logo {
			&-bg {
				background-image: url("../../img/Ford-logo-white.svg");
				background-repeat: no-repeat;
				background-position: 0 0;
				display: inline-block;
				width: 10.5rem;
				height: 5.3rem;
			}
		}

		&-icon-links {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 2.4rem;
			&-wrap {
				&-icon {
					span {
						position: relative;
					}

					span::after {
						content: "";
						display: block;
						position: absolute;
						width: 100%;
						height: 1px;
						left: 1px;
						top: 35px;
						background-color: #260da5;
						opacity: 0;
					}

					span:hover::after {
						opacity: 1;
					}
				}

				&-icon.account {
					// padding: 1rem 1rem;
					span {
						background-image: url("../../img/account-outline-white.svg");
						background-repeat: no-repeat;
						background-size: 100% 100%;
						background-position: center;
						display: inline-block;
						width: 20px;
						height: 20px;
					}
				}

				&-icon.account:hover .header__container-icon-links-wrap-sub {
					display: block;
				}

				&-icon.global {
					span {
						background-image: url("../../img/globe-white.svg");
						background-repeat: no-repeat;
						background-size: 100% 100%;
						background-position: center;
						display: inline-block;
						width: 20px;
						height: 20px;
					}
				}

				&-icon.search {
					span {
						background-image: url("../../img/search-white.svg");
						background-repeat: no-repeat;
						background-size: 100% 100%;
						background-position: center;
						display: inline-block;
						width: 20px;
						height: 20px;
					}
				}

				&-sub {
					display: flex;
					flex-direction: column;
					gap: 2.4rem;
					position: absolute;
					top: 55px;
					left: 1150px;
					width: 18%;
					background-color: #fff;
					color: #66686b;
					font-size: 2rem;
					padding-top: 2rem;
					padding-left: 2rem;
					padding-bottom: 4.6rem;
					visibility: hidden;
					border-bottom-left-radius: 12px;
					border-bottom-right-radius: 12px;

					li {
						position: relative;
					}

					li::after {
						content: "";
						display: block;
						position: absolute;
						width: 90%;
						height: 0.5px;
						background-color: #66686b;
						top: 38px;
						left: -2px;
					}

					li:hover {
						color: #260da5;
					}

					li:hover::after {
						background-color: black;
						height: 1px;
					}
				}

				&-sub.show {
					visibility: visible;
				}
			}
		}
	}
}

.header:hover {
	background-color: #fff;
}

.header:hover .header__container-navs-wrap-link {
	color: #260da5;
}

.header:hover .header__container-logo-bg {
	background-image: url("../../img/Ford-logo.svg");
}

.header:hover .header__container-icon-links-wrap-icon.account span {
	background-image: url("../../img/account-outline.svg");
}

.header:hover .header__container-icon-links-wrap-icon.global span {
	background-image: url("../../img/globe.svg");
}

.header:hover .header__container-icon-links-wrap-icon.search span {
	background-image: url("../../img/search.svg");
}

.header:active .header__container-navs-wrap-link {
	color: #260da5;
}

#vehicle.header__container-navs-wrap-sublinks {
	width: 100%;
	left: 0;
	background-color: #fff;
	padding-left: 7rem;
	padding-right: 7rem;
	padding-bottom: 20rem;
	padding-top: 2rem;
	margin: 0;
	box-sizing: border-box;
	max-height: 800px;
	overflow-y: scroll;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 10px;
}

.sublinks-containers {
	display: flex;
	position: relative;
	flex-grow: 1;
	gap: 15rem;
}

#vehicle.header__container-navs-wrap-sublinks .sublinks-links {
	width: 35%;
}

#vehicle.header__container-navs-wrap-sublinks .sublinks-links .sublink {
	display: flex;
	position: relative;
	width: 100%;
	gap: 21rem;
	justify-content: space-between;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#vehicle.header__container-navs-wrap-sublinks
	.sublinks-links
	.sublink
	.sublink-name {
	color: #66686b;
}

#vehicle.header__container-navs-wrap-sublinks
	.sublinks-links
	.sublink
	.sublink-icon
	i {
	width: 16px;
	height: 16px;
	color: #7a7c7e;
}

#vehicle.header__container-navs-wrap-sublinks .sublinks-links .sublink::after {
	content: "";
	display: block;
	position: absolute;
	top: 6rem;
	background-color: black;
	width: 100%;
	height: 1px;
}

#vehicle.header__container-navs-wrap-sublinks
	.sublinks-links
	.sublink:hover
	.sublink-name {
	color: #00095b;
}

#vehicle.header__container-navs-wrap-sublinks .sublinks-links .sublink:hover i {
	color: #00095b;
}

#vehicle.header__container-navs-wrap-sublinks
	.sublinks-links
	.sublink:hover::after {
	height: 2px;
	background-color: rgb(18, 6, 108);
}

.sublinks-contents {
	width: 60%;
	left: 511px;
	position: absolute;
	overflow-x: hidden;

	height: 700px;
}

.sublinks-contents .sublinks-contents-container {
	width: 100%;
	height: 100%;

	padding-right: 4rem;
}

.sublinks-contents .sublinks-contents-head {
	width: 100%;
}

.sublinks-contents .sublinks-contents-head img {
	max-width: 950px;
	width: 100%;
	position: absolute;
	left: 0px;
	border-radius: 8px;
}

.sublinks-contents .sublinks-contents-head .sublinks-content-head-text {
	position: absolute;
	top: 30px;
	right: 120px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.sublinks-content-head-text h3 {
	color: #fff;
	font-size: 2.2rem;
}

.sublinks-contents .sublinks-contents-head .sublinks-content-head-text button {
	background-color: #0093f0;
	color: #fff;
	width: 14rem;
	font-size: 1.6rem;
	padding: 1rem 1.2rem;
	border-radius: 5rem;
}

.sublinks-contents .sublinks-contents-body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	position: absolute;
	top: 200px;
	max-height: 400px;
	gap: 0.4rem;
	max-width: 100%;
	width: 800px;
	row-gap: 2rem;
	text-align: center;
}

.sublinks-contents-body-wrap {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
}

.sublinks-contents-body-wrap img {
	width: 100%;
}

.sublinks-content-body-footer-icon img {
	width: 16px;
	height: 16px;
}

#shop.header__container-navs-wrap-sublinks {
	width: 18%;
	background-color: #fff;
	padding-left: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	left: 200px;
	max-height: 500px;
	overflow-y: scroll;
	border-bottom-left-radius: 15px;
}

#shop.header__container-navs-wrap-sublinks .sublinks {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	color: #66686b;
	padding-bottom: 2rem;
}

#shop.header__container-navs-wrap-sublinks .sublinks li {
	position: relative;
}

#shop.header__container-navs-wrap-sublinks .sublinks li::after {
	content: "";
	position: absolute;
	width: 90%;
	height: 0.5px;
	background-color: #66686b;
	left: 0;
	top: 25px;
}

#shop.header__container-navs-wrap-sublinks .sublinks .sublinks__top {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#shop.header__container-navs-wrap-sublinks .sublinks .sublinks__bottom {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-size: 1.6rem;
}

#service.header__container-navs-wrap-sublinks {
	width: 18%;
	background-color: #fff;
	padding-left: 2rem;
	padding-top: 2rem;
	padding-bottom: 3rem;
	left: 250px;
	max-height: 500px;
	overflow-y: scroll;
	border-bottom-left-radius: 15px;
}

#service.header__container-navs-wrap-sublinks .sublinks {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	color: #66686b;
	padding-bottom: 2rem;
}

#service.header__container-navs-wrap-sublinks .sublinks .sublinks__top {
	display: flex;
	flex-direction: column;
	gap: 3.5rem;
}

#service.header__container-navs-wrap-sublinks .sublinks .sublinks__top li {
	position: relative;
}

#service.header__container-navs-wrap-sublinks
	.sublinks
	.sublinks__top
	li::after {
	content: "";
	position: absolute;
	background-color: #7a7c7e;
	width: 90%;
	height: 0.5px;
	left: 0;
	top: 40px;
}

#service.header__container-navs-wrap-sublinks
	.sublinks
	.sublinks__top
	li:hover::after {
	height: 1px;
	background-color: black;
}

#service.header__container-navs-wrap-sublinks .sublinks .sublinks__bottom {
	display: flex;
	flex-direction: column;
	gap: 3.5rem;
	font-size: 1.6rem;
}

#service.header__container-navs-wrap-sublinks .sublinks .sublinks__bottom li {
	position: relative;
}

#service.header__container-navs-wrap-sublinks
	.sublinks
	.sublinks__bottom
	li::after {
	content: "";
	position: absolute;
	background-color: #66686b;
	width: 90%;
	height: 0.5px;
	left: 0;
	top: 45px;
}

#service.header__container-navs-wrap-sublinks
	.sublinks
	.sublinks__bottom
	li:hover::after {
	background-color: black;
	height: 1px;
}
