.hero {
	max-width: 100%;
	// height: 1000px;
	// padding-top: 200px;
	// padding-bottom: 200px;
	background-image: url("../../img/cq5dam.web.1440.1440.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	min-height: 810px;
	// height: auto;

	&__bg {
		// max-width: 100%;
		// position: absolute;
		// top: -70px;
		background-image: url("../../img/");
		img {
			width: 100%;
			height: auto;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	&__contents {
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
		position: absolute;
		width: 50%;
		color: #fff;
		bottom: 46px;
		left: 100px;

		h1 {
			font-size: 3rem;
			font-weight: 300;
		}

		button {
			width: 12rem;
			padding: 1.2rem 1.2rem;
			font-size: 1.4rem;
			font-weight: bold;
			border-radius: 25px;
			border: 1px solid transparent;
			transition: all 0.5s ease-in;
		}

		button:hover {
			background-color: #23527c;
		}

		p {
			font-size: 1.4rem;
		}
	}
}
