.highway {
	background-color: #00142d;
	// position: relative;
	max-width: 100%;
	// margin-top: -73px;
	padding-bottom: 2.8rem;

	&__bg {
		width: 100%;
		background-image: url("../../img/cq5dam.web.1440.1440 (2).jpeg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 0;
		min-height: 810px;

		img {
			width: 100%;
		}
	}

	&__contents {
		display: flex;
		flex-direction: column;
		gap: 8rem;
		padding-left: 5.6rem;
		padding-right: 5.6rem;

		&-head {
			color: #fff;
			display: flex;
			flex-direction: column;
			gap: 2.2rem;

			h2 {
				font-size: 3.4rem;
			}

			p {
				font-size: 2rem;
			}

			button {
				width: 18rem;
				display: flex;
				gap: 1.4rem;
				padding-left: 2rem;
				padding-top: 1rem;
				padding-bottom: 0.8rem;
				text-align: center;
				font-size: 1.4rem;
				color: #fff;
				background-color: #0093f0;
				border: 1px solid transparent;
				border-radius: 2.5rem;
				transition: all 0.5s ease;
				img {
					width: 1.4rem;
					height: 1.4rem;
				}
			}
			button:hover {
				background-color: #0094f0a0;
			}
		}

		&-body {
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-content: space-between;
			gap: 2.4rem;

			&-left {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 2.8rem;
				color: #fff;

				img {
					width: 100%;
				}

				&-container {
					display: flex;
					flex-direction: column;
					padding-left: 2rem;
					gap: 2.4rem;

					h3 {
						font-size: 3rem;
					}

					&-details {
						font-size: 1.6rem;
					}

					&-subdetails {
						font-size: 1.6rem;
					}

					button {
						display: flex;
						gap: 2rem;
						width: 24rem;
						color: #fff;
						background-color: #0093f0;
						padding-left: 1.4rem;
						padding-top: 1.4rem;
						padding-bottom: 1.4rem;
						font-size: 1.4rem;
						border-radius: 2.5rem;
						border: 1px solid transparent;
						img {
							width: 1.4rem;
							height: 1.4rem;
						}
					}
				}
			}

			&-right {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 2.8rem;
				color: #fff;

				img {
					width: 100%;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
				}

				&-container {
					display: flex;
					flex-direction: column;
					padding-left: 2rem;
					gap: 2.4rem;

					h3 {
						font-size: 3rem;
					}

					p {
						font-size: 1.6rem;
					}

					button {
						display: flex;
						gap: 2rem;
						width: 14rem;
						color: #fff;
						background-color: #0093f0;
						padding-left: 1.4rem;
						padding-top: 1.4rem;
						padding-bottom: 1.4rem;
						font-size: 1.4rem;
						border-radius: 2.5rem;
						border: 1px solid transparent;
						img {
							width: 1.4rem;
							height: 1.4rem;
						}
					}
				}
			}
		}
	}
}
