.thrilling_title{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.thrilling_body {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}
.thrilling_slide{
    width: 32.5%;
    position: relative;
    overflow: hidden;
   
}
.thrilling_slide img{
    object-fit: contain;
    width: 100%;
    border-radius: 3%;
}
.thrilling_slide a{
    position: absolute;
    left: 2%;
    bottom: 5%;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 20;
    border: none;
    color: black;
   
}
.thrilling_content{
    margin-top: 20px;
    display: flex;
    padding: 0;
    justify-content: space-around;
}
.thrilling_content .btn-third{
    background-color: transparent;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 800;
    padding-top: 15px;
}
.thrilling_content i{
    padding-left: 10px;
    transform: scale(1.2);
    font-weight: 600;
}

